<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">
    <title>Document</title>
</head>
<body>
    <div class="container text-center"
    <h1>Your password is:</h1>
    <h2 class="alert alert-success">{{ password }}</h2>
    <a href="{% url 'home' %}" class="btn btn-warning">Go to home page</a>
    </div>
</body>
</html>